<!DOCTYPE html>

<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | Home</title>
	</head>
	<body>
		<h1>Sample App</h1>
		<p>
			This is a home page for the
			<a href="http://railstutorial.org/">Ruby On Rails Tutorial</a> sample application.
		</p>
	</body>
</html>
